<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서문시장야시장 | 참여마당</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/noti_wri.css">
</head>
<body>
    <main>
        <section class="main_top">
            <div class="main_top_txt">
                <h5>夜하게 놀자, 대한민국 대표 야시장</h5>
                <h2>참여마당</h2>
            </div>
            <div class="main_top_button">
                <span><a href="noti">공지사항</a></span>
                <span><a href="">행사안내</a></span>
            </div>
        </section>
        <% if(typeof errs !== 'undefined'){ %>
            <% errs.forEach(() =>{ %>
                <h3><%= err.param %> : <%= err.msg %></h3>
            <% }) %>
        <%}%>
        <form>
            <input type="hidden" name="id" value="<%=row.id%>">
            <section class="notice">
                <div>
                    <a href="">
                        <p><%= row.id%></p>
                        <p><%= row.tittle%></p>
                        <p><%= row.datetime%></p>
                    </a>
                </div>
            </section>
            <section class="notice_article">
                <h2><%= row.tittle%></h2>
                <p><%= row.content%></p>
            </section>
        </form>
        <section>
            <article class="bottom_nav">
                <ul>
                    <li><a>
                        <img src="../img/ico_notice_arrow.png">
                        <div>이전글</div>
                    </a></li>
                    <div class="bottom_list">
                        <a href="noti">
                            <div>목록</div>
                        </a>
                    </div>
                    <li><a>
                        <div>다음글</div>
                        <img src="../img/ico_notice_arrow_r.png">
                    </a></li>
                </ul>
            </article>
        </section>
        <section class="inquiry">
            <article>
                <div>
                    <a href="">
                        <h2>문의하기</h2>
                        <p>격고계신 상황, 문제점 혹은<br>
                            궁금하신 점들은 1:1문의를 통해 확인하실 수 있습니다.</p>
                        <div></div>
                    </a>
                </div>
                <div>
                    <a href="">
                        <h2>내문의 답변보기</h2>
                        <p>답변은 영업일 1~3일 이내로 작성됩니다.</p>
                        <div></div>
                    </a>
                </div>
            </article>
        </section>
    </main>
</body>
</html>